body{
    background-color: #2A835F;
    color: #092328;
}

.project_page{
    background-color: #8BBB92;
    border: 5px solid #12544F;
    color: #092328;
    font-size:20pt;
    text-decoration: none; 
    padding:15px
}

li{
    margin:60px 0px;
}
ol{
    list-style-type: none;
    padding-left:0px;
}
